*

!.gitignore
!README.md

!automations.yaml
!configuration.yaml
!scenes.yaml
!scripts.yaml
!ui-lovelace.yaml

!dashboard/
!dashboard/**/*

!blueprints
!blueprints/**/*
blueprints/*/homeassistant/*

.storage
.cloud
.google.token
