*

!.gitignore
!README.md

!automations.yaml
!configuration.yaml
!scenes.yaml
!scripts.yaml

!packages/

!dashboards/
!dashboards/**/*

!blueprints
!blueprints/**/*
blueprints/*/homeassistant/*

.storage
.cloud
.google.token
